@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.cat1{
    background: linear-gradient(to right, #FF9C35 0%, #FFCA1C 100%);
    padding: 10px 30px;
    border-radius: 10px;
}
.cat2{
    background: linear-gradient(to right, #FF1F77 0%, #FF4E95 100%);
    padding: 10px 30px;
    border-radius: 10px;
}
.cat3{
    background: linear-gradient(to right, #4289FF 0%, #3F15F9 100%);
    padding: 10px 30px;
    border-radius: 10px;
}
